api.instaswipe.app {
	reverse_proxy 127.0.0.1:8080
}

media.instaswipe.app {
	reverse_proxy 127.0.0.1:9000
}

instaswipe.app {
	handle /instaswipe.apk {
		root * /opt/instaswipe/downloads
		file_server
	}
	handle {
		reverse_proxy 127.0.0.1:8082
	}
}
